body {
  font-family: "Kanit";
}

/* Start coding here */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.pic {
  background-color: white;
  padding: 10px;
  position: relative;
}

.item1 {
  position: absolute;
  bottom: 10px;
  left: 0px;
  padding: 10px;
  font-size: 25px;
  color: white;
}

.item2 {
  position: absolute;
  top: 40px;
  right: 0px;
  background-color: rgba(128, 128, 128, 0.638);
  padding: 10px;
  font-size: 30px;
  color: white;
}

img {
  border-radius: 2%;
}
